* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #FFF;
}

#container-principal {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: relative;
}

#container-center {
    background-color: #FFF;
    padding: 10px;
    width: 40%;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 0px;
}

#container-right {
    width: 29%;
    background-color: #e1e1e1;
    height: auto;
}

#container-left {
    width: 29%;
    background-color: #e1e1e1;
}

footer {
    background-color: #f1f1f1;
    position: fixed;
    bottom: 0px;
    padding: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
}