body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;
}

header {
    background-color: #FFF;
    border-bottom: 1px solid #eee;
}

.row {
    margin: 0px;
}

.container-fluid {
    margin: 0px
}


/*title logo*/

.title2 {
    color: #0101DF;
    font-size: 1.2rem;
}

.title1 {
    color: #FFF;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
}

.btn-primary {
    background-color: #F2A230;
    border-color: #F2A340;
}

#navbar {
    justify-content: space-between;
    background-color: #48D1CC;
    padding: 5px 20px;
}

#navbar a {
    font-size: 14px;
    color: #333;
}

#navbar a:hover {
    color: #F3A400;
}

#search-container {
    background-image: url("/images/im3.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #333;
    font-weight: 800;
    margin-bottom: 30px;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 9px;
}

#events-container .title-2 {
    padding: 5px;
    color: #333;
}

#cards-container {
    display: flex;
}

#events-container img {
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#events-container .card {
    max-width: 25%;
    min-width: 24%;
    border-radius: 11px;
    flex: 1 1 0;
    padding: 0;
    margin: 5px;
}

.form-group label {
    margin-bottom: 15px;
    margin-top: 10px;
    font-weight: bold;
}

footer {
    background-color: #353E50;
    text-align: center;
    color: #FFF;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*****Show info **/

#show-info {
    padding: 30px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#show-info h1 {
    text-align: center;
    padding: 30px;
}

#itens-list {
    list-style: none;
    padding-left: 0;
}

#itens-list li {
    display: flex;
}

#show-info ion-icon {
    color: #F2A340;
    font-size: 20px;
    font-weight: 900;
}

#col-md-6 {
    padding-top: 30px;
}

#container-details {
    padding: 10px;
    margin-top: 15px;
}

#image-container {
    padding: 10px;
}

#image-container img {
    border-radius: 10px;
}

#show-container {
    align-items: center;
    width: 100%;
    padding: 50px;
}

#form-container {
    border-radius: 10px;
    margin-top: 50px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f1f1f1;
    min-width: 30%;
}

.form-group-control {
    background-color: #353E50;
    justify-content: space-between;
    padding: 20px;
    margin-top: 14px;
    display: flex;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    text-align: center;
    padding: 10px;
}


/***Reserva**/

.info-reserva {
    background-color: #184d23;
    justify-content: space-between;
    display: flex;
    font-size: 15px;
    color: #fff;
    padding: 15px;
    align-items: center;
}

.info-reserva .info {
    align-items: center;
    text-align: center;
}

.fechado {
    background-color: #ff0000;
    color: #333;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

.aberto {
    color: #fff;
    font-size: 12px;
    background-color: #507759;
    padding: 5px;
}

.valor h2 {
    font-size: 12px;
    color: #F3A400;
}

.info h3 {
    font-size: 14px;
    font-weight: 900;
}

.info h5 {
    font-size: 15px;
    font-weight: bold;
}

@media(max-width: 768px) {
    /* geral */
    .container {
        padding: 20px 0;
    }
    /* slider */
    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: auto;
    }
    #mainSlider .carousel-caption h2 {
        font-size: 28px;
    }
    #mainSlider .carousel-caption p {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    /* about */
    #about-area img {
        margin-top: 100px;
    }
    /* data */
    .circle-box div {
        padding: 0 10px;
    }
    #data-area p {
        font-size: 16px;
    }
    /* team */
    .card-title {
        font-size: 14px;
    }
    .card-text {
        font-size: 12px;
    }
    /* apply */
    #apply-area .apply-box {
        padding: 50px 25px;
    }
    /* news */
    #news-area p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    #email-input {
        width: 70%;
    }
    #call-area {
        margin-top: 30px;
    }
    #call-area .container {
        padding: 30px;
    }
    #call-area p,
    #call-area #call-btn {
        font-size: 16px;
    }
}

@media(max-width: 425px) {
    /* slider */
    #mainSlider {
        margin-top: 90px;
    }
    #mainSlider .carousel-caption {
        top: 5%;
    }
    #mainSlider .carousel-caption h2 {
        font-size: 18px;
        margin-bottom: 40px;
    }
    #mainSlider .carousel-caption p {
        display: none;
    }
    .carousel-caption .main-btn {
        font-size: 14px;
    }
    /* about */
    .main-title {
        font-size: 30px;
    }
    #about-area img {
        margin-top: 0;
        margin-bottom: 30px;
    }
    /* data */
    .circle-box {
        width: 50%;
    }
    #team-area .col-md-3 {
        width: 50%;
        margin-bottom: 30px;
    }
    /* apply */
    #apply-area {
        height: auto;
    }
    #company-img {
        display: none;
    }
    /* filtro */
    #portfolio-area .filter-btn {
        margin-bottom: 20px;
    }
    .project-box {
        width: 50%;
    }
    /* novidades */
    #news-area .main-title {
        font-size: 24px;
    }
    #news-area p {
        font-size: 16px;
    }
    #email-input {
        width: 80%;
    }
    #call-area p,
    #call-area #call-btn {
        font-size: 14px;
        letter-spacing: 0;
    }
    #call-area p,
    #call-area #call-btn {
        margin: 0;
        width: 50%;
    }
    /* contacto */
    .contact-box {
        border: none;
        margin-bottom: 0;
    }
}